<div class="container">
  <div class="notes">
    <h1>Hear It From Our <br> ProGrads</h1>

    <p>Being a ProGrad is a life-time experience. In the past, we have several times tried showing the world what is to
      be
      a ProGrad. But,we soon realised that no one can better describe this journey than our ProGrads themselves</p>
    <p class="bold"><b>So here we are with a mission to let the world hear it from our ProGrads!</b></p>
    <p class="hashvalues">#ProudProGrads #YourDreamOurMission</p>

  </div>
  <div class="prof-pic">
    <img src="assets/profile.png" class="image" alt="ProGrad">
  </div>
</div>
